ul.info-image-box {
	list-style: none;
	height: 300px;
	margin: 0;
}
ul.info-image-box li {
	position: relative;
	float: left;
	width: 100%;
	max-width: 100%;
	height: 300px;
	overflow: hidden;
}
ul.info-image-box li.full {
	width: 100%;
}
ul.info-image-box li.half {
	width: 50%;
}
ul.info-image-box li:hover {
	cursor: pointer;
}

ul.info-image-box li .background-box img {
	min-height: 300px;
	min-width: 525px;
}
ul.info-image-box li .foreground-box {
	width: 103%;
	background-color: black;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}
ul.info-image-box li:hover .foreground-box {
	opacity: 0;
	transition: opacity 0.3s ease;
}
ul.info-image-box li .foreground-box-2 {
	opacity: 1;
	color: white;
	transition: opacity 0.3s ease;
	text-align: center;
}
ul.info-image-box li:hover .foreground-box-2 {
	opacity: 0;
	transition: opacity 0.3s ease;
}
ul.info-image-box li .foreground-box-2 h3,  ul.info-image-box li .foreground-box-2 h4 {
	text-align: center;
}
ul.info-image-box li .foreground-box-2 h4 {
	font-weight: 100;
}

@media (min-width: 0) and (max-width: 700px) {
	ul.info-image-box {
		height: 500px;
	}
	ul.info-image-box li {
		height: 250px;
	}
	ul.info-image-box li.half {
		width: 100%;
	}
}